@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
} 

@tailwind base;
@tailwind components;
@tailwind utilities;

.fadeLeftMini {
    animation: fadeLeftMini 1s;
    animation-fill-mode: both;
  }
  
  .fadeRightMini {
    animation: fadeRightMini 1s;
    animation-fill-mode: both;
  }

  .fadeUpMini {
    animation: fadeUpMini 1s;
    animation-fill-mode: both;
  }

  @keyframes fadeLeftMini {
    0% {
      opacity: 0;
      transform: translate3d(-40%, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translateZ(0);
    }
  }
  
  @keyframes fadeRightMini {
    0% {
      opacity: 0;
      transform: translate3d(40%, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translateZ(0);
    }
  }

  @keyframes fadeUpMini {
    0% {
      opacity: 0;
      transform: translate3d(0, -40%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0);
    }
  }
